# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Platform specific ephemeral
/android/local.properties
/android/key.properties
/android/app/debug
/android/app/profile
/android/app/release
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/
/macos/flutter/ephemeral/

# Secrets and Environment
.env*
*.secret

